<h1>Create Account</h1>

<!--
<form action="/users" method="POST" accept-charset="UTF-8">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="email">Email address:</label>
    <input type="text" id="email" name="email"><br><br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password"><br><br>
    <input type="submit" value="Submit">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form> 
-->

<!-- <%= form_tag("/users", method: "POST") do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %><br><br>
  <%= label_tag(:email, "Email:") %>
  <%= text_field_tag(:email) %><br><br>
  <%= label_tag(:password, "Password:") %>
  <%= password_field_tag(:password) %><br><br>
  <%= submit_tag("Submit") %>
<% end  %> -->


<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message|%>
     <h4><%= message %> </h4>
  <%end%>
<%end%>

<br><br>


<%= form_for @user, url: {action: "create"}, html: {class: ""} do |f| %>
    UserName: <%= f.text_field :username %><br><br>
    Email: <%= f.text_field :email, placeholder: 'example@example.com' %><br><br>
    Password: <%= f.text_field :password, placeholder: '**********' %><br><br>
    <%= f.submit "Submit" %>
<% end %>

<br>
<h4><%= link_to 'Edit my account', '/users/1/edit' %></h4>




